/*
 * @Author: SunXiaochun 
 * @Date: 2021-02-23 15:19:36 
 * @Last Modified by:   SunXiaochun 
 * @Last Modified time: 2021-02-23 15:19:36 
 */

.btn-send-goods{
    margin-left: 10px;
}

.p-img{
    display: block;
    width: 80px;
    height: 80px;
}
